/** @format */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	// DIFOLTNA VRIJEDNOST FONT-SIZE-A BRAUZERA JE 16 PX TAKO DA JE 62.5% USTVARI 10PX(TO RADIMO DA NAM JE KASNIJE LAKSE KORISTITI REMOVE JER SA OVIM POSTAVLJAMO  SADA DA JE DIFOLTNA VELICINA FONTA 10PX)
	font-size: 62.5%;
}

body {
	color: $p-color;
	font-family: Oswald, sans-serif;
	// ZELIMO DA FONT SIZE BUDE 14PX IZRAZENI U REM-OVIMA,VRIJEDNOST REMOVA DOBIJAMO TAKO STO TIH 14PX PODIJELIMO SA 10PX KOJE SMO NAPRAVILI KAO DIFOLT U ROOT ODNOSNO HTML TAGU
	font-size: 1.4rem;
	line-height: 2.4rem;
	overflow-x: hidden;
}

.btn {
	background: linear-gradient(to bottom right, $nav-bg-color, $btn-bg-color);
	border-radius: 10px;
	color: $heading-color;
	display: inline-block;
	font-family: "Playfair Display", serif;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.4rem;
	margin: 1.5rem 3rem;
	opacity: 0.8;
	padding: 1rem 4.5rem;
	text-decoration: none;

	&:hover {
		background: linear-gradient(to bottom right, $btn-hover1, $btn-hover2);
		box-shadow: 0 12px 24px $btn-box-shadow;
	}

	&:focus {
		background: $btn-focus;
		box-shadow: 0 6px 12px $btn-box-shadow;
	}

	&:active {
		background: $nav-bg-color;
		box-shadow: 0 6px 12px $btn-box-shadow;
	}
}

img {
	display: block;
	width: 100%;
}

p {
	color: $par-color;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
