/** @format */

.news {
	display: grid;
	gap: 2rem;
	grid-template-areas:
		"tittle"
		"."
		".";
	grid-template-rows: 20rem 1fr 10rem;
	justify-content: center;

	&-heading {
		align-self: center;
		color: $p-color;
		font-size: 6rem;
		font-weight: 300;
		grid-area: tittle;
		margin: 2rem 0;
		text-transform: uppercase;

		&__back,
		&__front {
			display: block;
			text-align: center;
		}

		&__back {
			font-family: "Playfair Display", serif;
			font-weight: bold;
			line-height: 4rem;
			opacity: 0.2;
			text-transform: capitalize;
		}
	}

	& .blog {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
		margin: 0 auto;
		max-width: 95vw;

		& article {
			display: grid;
			grid-template-rows: auto 1fr;
			max-width: 30vw;
		}

		&__img {
			position: relative;
		}

		&__share-btn {
			bottom: -2rem;
			cursor: pointer;
			position: absolute;
			right: 2rem;
		}

		&__body {
			padding: 2rem;

			&--title {
				font-size: 2.2rem;
				line-height: 3.2rem;
				margin-bottom: 1rem;
			}

			&--desc {
				color: $par-color;
				font-size: 1.4rem;
				line-height: 2.5rem;
				margin-bottom: 1rem;
			}

			&--read-more {
				color: $btn-focus;
				text-transform: uppercase;
			}
		}

		&__second {
			.blog__img {
				grid-row: 2 / 3;
			}

			.blog__share-btn {
				bottom: unset;
				top: -2rem;
			}
		}
	}
}
